<h1>Pirate</h1>
<h3>Name: <%= @pirate.name %></h3>
<h3>Weight:<%= @pirate.weight %></h3>
<h3>Height: <%= @pirate.height %></h3>

<h2>First Ship</h2>
<h3>Name: <%= @ships[0].name %></h3>
<h3>Type: <%= @ships[0].type %></h3>
<h3>Booty: <%= @ships[0].booty %></h3>
<h2>Second Ship</h2>
<h3>Name: <%= @ships[1].name %></h3>
<h3>Type: <%= @ships[1].type %></h3>
<h3>Booty: <%= @ships[1].booty %></h3>
